[Unit]
Description=Teverzamelen
After=syslog.target

[Service]
Type=simple
User=telegram
Group=telegram
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/telegram/teverzamelen/web/
ExecStart=/home/telegram/teverzamelen/web/start.bash
ExecReload=/usr/bin/pkill -HUP -f 'teverzamelen/web/venv/bin/gunicorn'
Restart=always


[Install]
WantedBy=multi-user.target
