body {
    background: snow;
    max-width: 60vw;
}
body > form {
	/* login form */
    background: antiquewhite;
    padding: 0.5vw;
    border-radius: 2%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    max-width: 500px;
}
input {
    padding: 2px 4px;
    margin: 4px 2px;
}
input[type=submit] {
    border: 1px solid grey;
    background-color: #4CAF50;
    color: white;
    border-radius: 13%;
}
