{% extends "base.html" %}
{% block body %}
<a class="w3-round w3-btn w3-theme-dark" href="/public">
    <i class="fa fa-arrow-left"></i> Terug
</a>
<h1>{{ title }}</h1>
<p>
    Hier zie je alle ontbrekende items van alle lijsten onder elkaar.
</p>
 <input type="search" id="searchInput" onkeyup="searchTable('publicCollections')" onsearch="searchTable('publicCollections')" placeholder="zoeken" class="w3-input w3-theme-d2 w3-round" autofocus>
<table id="publicCollections" class="w3-table w3-hoverable sortable">
    <thead>
        <tr>
            <th>Naam</th>
        </tr>
    </thead>
    <tbody>
        {% for item in all_items|sort(attribute="collection.name,name") %}
            <tr>
                <td>{{ item.collection.name }} - {{ item.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
