{% extends "base.html" %}
{% block body %}
<a class="w3-round w3-btn w3-theme-dark" href="/public">
    <i class="fa fa-arrow-left"></i> Terug
</a>
<h1>{{ title }}</h1>
<p>
    Hier zie je de gedeelde lijstjes. Tussen haakjes zie je hoeveel ongelezen items nog ontbreken in de verzameling.
</p>
 <input type="search" id="searchInput" onkeyup="searchTable('publicCollections')" onsearch="searchTable('publicCollections')" placeholder="zoeken" class="w3-input w3-theme-d2 w3-round" autofocus>
<table id="publicCollections" class="w3-table w3-hoverable sortable">
    <thead>
        <tr>
            <th>Naam</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="?all">= Alles in een lijst =</a></td>
        </tr>
        {% for collection in collections|sort(attribute="user.email,name") %}
            <tr>
                <td><a href="/public/collection/{{collection.id}}">{{ collection.name }}</a> ({{ collection.items.filter_by(owned=False, read=False).count() }})</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
