{% extends "base.html" %}
{% block body %}
<a class="w3-btn w3-theme-dark" href="/">
    <i class="fa fa-arrow-left"></i> Terug
</a>
<h1>{{ title }}</h1>
<table id="public_table" class="w3-table w3-hoverable">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Gebruiker</th>
        </tr>
    </thead>
    <tbody>
    {% for collection in collections %}
        <tr>
            <td><a href="/public/collection/{{collection.id}}">{{ collection.name }}</a> ({{ collection.items.count() }})</td>
            <td>{{ collection.user.email }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}
