{% extends "base.html" %}
{% block body %}
<a class="w3-round w3-btn w3-theme-dark" href="/public">
    <i class="fa fa-arrow-left"></i> Terug
</a>
<h2>Lijstje "{{collection.name}}" van {{collection.user.email|replace('@','AT')}}</h2>
{% if not current_user.is_anonymous and not collection.user == current_user and not in_my_collection %}
    <button hx-post="/copy_collection/{{collection.id}}" hx-target="body" class="w3-round w3-btn w3-brown">
        <i class="fa fa-copy"></i> Kopieer naar mijn account
    </button>
{% endif %}
 <input type="text" id="searchInput" onkeyup="searchTable('collectionTable')" placeholder="zoek" class="w3-input w3-theme-d2 w3-round w3-margin-top">
<table id="collectionTable" class="w3-table w3-hoverable">
    <thead>
    <tr>
    <!-- sequence flipt de layout -->
<!--        <th>Sequence<th> -->
        <th>Naam</th>
        <th>Heb ik al</th>
        <!-- rating column Rating -->
        <!-- uitgavejaar -->
        <!-- TODO afstrepen als cadeau -->
    </tr>
    </thead>
    <tbody id="collection_table_body" >
        {% for item in collection.items %}
            {% include 'partials/public_item_tr.html' %}
        {% endfor %}
</table>
<a href="#top">
    <i class="fa fa-arrow-up"></i> Naar boven
</a>
{% endblock body %}
