{% set current_state = 'Lijstje is gedeeld.' if collection.public else 'Lijstje is privé.' %}
{% set message = 'Lijstje delen?' if not collection.public else 'Lijstje privé maken?' %}
<button title="{{ current_state }} Klik hier om te veranderen." class="w3-round-large w3-button {{'w3-green' if collection.public else 'w3-theme-dark'}} w3-hover-red w3-small" hx-patch="/collection/{{collection.id}}" hx-confirm="{{ message }}" name="public" hx-swap="outerHTML">
    <i class="fa fa-globe"></i>
</button>