{# w3-hover does not support theme. So we defined these colors hardcoded. #}
<tr>
    <td data-sort="{{item.name|sortable}}">{{item.name}}</td>
    <td hx-patch='/item/{{item.id}}' name='owned' hx-target="closest tr" hx-swap="outerHTML">
        <button class="w3-round w3-block w3-border-0 {{'w3-green' if item.owned else 'w3-theme-dark'}} w3-hover-yellow" style="min-width: 3em">
            {{'Ja' if item.owned else 'Nee'}}
        </button>
    </td>
    <td hx-patch='/item/{{item.id}}' name='want' hx-target="closest tr" hx-swap="outerHTML">
        <button class="w3-round w3-block w3-border-0 {{'w3-green' if item.want else 'w3-theme-dark'}} w3-hover-yellow" style="min-width: 3em">
            {{'Ja' if item.want else 'Nee'}}
        </button>
    </td>
    <td hx-patch='/item/{{item.id}}' name='read' hx-target="closest tr" hx-swap="outerHTML">
        <button class="w3-round w3-block w3-border-0 {{'w3-green' if item.read else 'w3-theme-dark'}} w3-hover-yellow" style="min-width: 3em">
            {{'Ja' if item.read else 'Nee'}}
        </button>
    </td>
    <td>
        <button class="w3-round w3-block w3-border-0 w3-theme-dark w3-hover-red w3-hide delete-item" hx-delete="/item/{{item.id}}" hx-confirm="'{{item.name}}' verwijderen uit lijst?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
            <i class="fa fa-trash"></i>
        </button>
    </td>
</tr>