<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{title}} - Teverzamelen.nl</title>
    {% else %}
        <title>Teverzamelen.nl</title>
    {% endif %}
    {% block styles %}
      <link rel="stylesheet" href="/static/base.css" />
      <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" />
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-amber.css"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock styles %}
    {% block javascript %}
        <script src="https://unpkg.com/htmx.org@1.9.5"></script>
        <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@2.4.0/sortable.min.js"></script>
        <script src="/static/searchtable.js"></script>
        <script>
            resetForm = function() {
                setTimeout(function(){document.getElementsByTagName('form')[0].reset()}, 200)
            }
            window.addEventListener('load', function () {
                const sortableTables = document.getElementsByClassName('sortable');
                if (sortableTables.length > 0) {
                    //save sort state to localstorage on click (invert direction since sort is not yet applied)
                    sortableTables[0].tHead.addEventListener('click', function(e) {
                        window.localStorage.setItem(
                            window.location.pathname,
                            e.target.cellIndex+' '+(e.target.className === "dir-d" ? "a":"d")
                        )
                    })

                    //sorting on load
                    const savedSortState = window.localStorage.getItem(window.location.pathname);
                    if (!savedSortState) return;
                    const [cellIndex, direction] = savedSortState.split(' ');
                    // click it to sort desc
                    sortableTables[0].tHead.children[0].children[cellIndex].click();
                    // click again to sort asc
                    if (direction === 'a') sortableTables[0].tHead.children[0].children[cellIndex].click();
                }
            })
        </script>
    {% endblock javascript %}
</head>
<body class="w3-black w3-auto">
<span id="top"></span>
<div id="topbar" class="w3-row">
    <div class="w3-container w3-left w3-hide-small">
        <a href="/">Teverzamelen.nl</a>
    </div>
    <div class="w3-container w3-right">
        <i class="fa fa-user"></i>
        {% if current_user.email %}
            {{current_user.email}}.
            <a href="/logout">uitloggen</a>
        {% else %}
            Niet ingelogd.
            <a href="/login">inloggen</a>
        {% endif %}
    </div>
</div>
<div class="w3-container w3-theme w3-padding w3-round">
    {% block body %}
    {% endblock body %}
</div>
<footer class="w3-container">
    <small>
        <span class="w3-left">By <a href="https://www.denick.org">denick.org</a></span><span class="w3-right">{% include 'footer.txt' ignore missing %}</span>
    </small>
</footer>
<script data-goatcounter="https://teverzamelen.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
