<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% block styles %}
      <link rel="stylesheet" href="/static/fa/css/all.css" /><!-- in final version use unpkg -->
      <link rel="stylesheet" href="/static/base.css" />
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.22/r-2.2.6/datatables.min.css"/> -->
    {% endblock styles %}
    {% block javascript %}
        <script src="https://unpkg.com/htmx.org@0.3.0"></script>
<!--        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.22/r-2.2.6/datatables.min.js"></script> -->
    {% endblock javascript %}
</head>
<body class="w3-black w3-auto">
<span id="top"></span>
<div class="w3-container w3-right-align">
    <i class="far fa-user"></i>
    {% if current_user.email %}
        {{current_user.email}}.
        <a href="/logout">uitloggen</a>
    {% else %}
        Niet ingelogd.
        <a href="/login">inloggen</a>
    {% endif %}
</div>
<div class="w3-container w3-amber w3-padding">
    {% block body %}
    {% endblock body %}
</div>
</body>
</html>
