{% extends "base.html" %}
{% block body %}
<h1>
    Welkom op Teverzamelen.nl!
</h1>
<p>
    {% if current_user.email %}
        <h2>Jouw lijstjes</h2>
        <form method="post" action="/api/collection">
            <input type="text" placeholder="Lijstje" required>
            <input type="submit" value="Nieuw"> <!-- TODO via htmx -->
        </form>
        <table id="my_collections" class="hover " >
            <thead>
                <tr>
                    <th>Naam<th>
                    <th>Gedeeld<th>
                </tr>
            </thead>
            <tbody>
            {% for collection in collections %}
                <tr>
                    <td><a href="/collection/{{collection.id}}">{{ collection.name }}</a></td>
                    <td>{{'Ja' if collection.public else 'Nee'}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <a href="/public">Gedeelde lijstjes bekijken</a>.
            <!-- TODO gedeelde lijstjes ook op frontpage? -->
        </p>
    {% else %}
        <a href="/login">Log direct in</a> om een eigen lijstje te maken of bekijk de <a href="/public">gedeelde lijstjes</a>!
    {% endif %}
</p>
{% endblock body %}
