{% extends "base.html" %}
{% block body %}
<h1>
    Welkom op Teverzamelen.nl!
</h1>
<p>
    {% if current_user.email %}
        <p>
            <a href="/public">Gedeelde lijstjes bekijken</a>.
        </p>
        <form method="post" action="/collection/new" class="w3-container">
            <input class="w3-input w3-theme-d2" type="text" placeholder="postzegels" name="name" required>
            <input class="w3-input w3-theme-dark" type="submit" value="Nieuw lijstje">
        </form>
        <h2>Jouw lijstjes</h2>
        <table id="my_collections" class="w3-table w3-hoverable">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Gedeeld</th>
                </tr>
            </thead>
            <tbody>
            {% for collection in collections %}
                <tr>
                    <td><a href="/collection/{{collection.id}}">{{ collection.name }} ({{ collection.items.count() }})</a></td>
                    <td>{{'Ja' if collection.public else 'Nee'}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <a href="/login">Log direct in</a> om een eigen lijstje te maken of bekijk de <a href="/public">gedeelde lijstjes</a>!
    {% endif %}
</p>
{% endblock body %}
