<tr>
    <td>{{item.name}}</td>
    <td hx-patch='/item/{{item.id}}' name='owned'>{{'Ja' if item.owned else 'Nee'}}</td>
    <td hx-patch='/item/{{item.id}}' name='want'>{{'Ja' if item.want else 'Nee'}}</td>
    <td hx-patch='/item/{{item.id}}' name='read'>{{'Ja' if item.read else 'Nee'}}</td>
    {% if current_user.email == collection.user.email %}
        <td>
            <button class="btn btn-danger" hx-delete="/item/{{item.id}}" hx-confirm="Weet je het zeker?" hx-target="closest tr" hx-swap="outerHTML swap:1s">Verwijder</button>
        </td>
    {% endif %}
</tr>