{% extends "base.html" %}
{% block body %}
<a href="/">Terug</a>
<table id="public_table">
    <thead>
    <tr>
        <th>Verzameling<th>
        <th>ID Gebruiker</th>
    </tr>
    </thead>
</table>
<script>
   $(document).ready(function() {
    $('#public_table').DataTable( {
        autoWidth: false,
        searching: false,
        responsive: true,
        paging: false,
        language: {
            url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Dutch.json"
        },
        ajax: {
            url: '/public/api/collection',
            dataSrc: 'objects',
        },
        columns: [
            { "data": "name" },
            { "data": "user_id" },
        ]
    } );
} );
</script>
{% endblock body %}
