{% extends "base.html" %}
{% block body %}
<a href="/">Terug</a>
<h1>{{ title }}</h1>
<table id="public_table">
    <thead>
        <tr>
            <!-- TODO doorklikken naar details van lijstje -->
            <th>Verzameling</th>
            <th>Gebruiker</th>
            <!-- TODO kopieren van lijstje implementeren -->
            {% if current_user.email %}<th>Kopiëren</th>{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for collection in collections %}
        <tr>
            <td>{{ collection.name }}</td>
            <td>{{ collection.user.email }}</td>
            {% if current_user.email %}<td><a href="#">Kopieer lijstje</a></td>{% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}
