{% extends "base.html" %}
{% block body %}
<a class="w3-btn" href="/">
    <i class="fas fa-arrow-left"></i>Terug
</a>
<h1>{{ title }}</h1>
<table id="public_table">
    <thead>
        <tr>
            <th>Verzameling</th>
            <th>Gebruiker</th>
            {% if current_user.email %}<th>Kopiëren</th>{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for collection in collections %}
        <tr>
            <td><a href="/public/collection/{{collection.id}}">{{ collection.name }}</a> ({{ collection.items.count() }})</td>
            <td>{{ collection.user.email }}</td>
            <!-- TODO beter om gewoon redirect te volgen ipv swap -->
            {% if current_user.email %}
                <td>
                    <button hx-post="/copy_collection/{{collection.id}}" hx-target="body" class="w3-button">
                        <i class="far fa-copy"></i>
                    </button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}
