{% extends "base.html" %}
{% block body %}
<a href="/">Terug</a>

<form hx-post="/item/new" hx-target="#collection_table_body" hx-swap="afterbegin">
    <input type="hidden" name="collection_id" value="{{collection_id}}">
    <input type="text" name="name" placeholder="Naam" required>
    <input type="submit" value="Toevoegen">
</form>
<span class="htmx-indicator">EVEN GEDULD AUB</span>
<table id="collection_table">
    <thead>
    <tr>
    <!-- TODO sequence flipt de layout -->
<!--        <th>Sequence<th> -->
        <th>Naam</th>
        <th>Heb ik</th>
        <th>Wil ik</th>
        <th>Gelezen</th>
        <!-- TODO rating column Rating -->
        <!-- TODO uitgavejaar -->
    </tr>
    </thead>
    <tbody id="collection_table_body" hx-confirm="Weet je het zeker?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
        {% for item in items %}
            {% include 'item_tr.html' %}
        {% endfor %}
</table>
{% endblock body %}
