{% extends "base.html" %}
{% block body %}
<a class="w3-round w3-btn w3-theme-dark" href="/">
    <i class="fa fa-arrow-left"></i> Terug
</a>
<h2>
    Bewerk lijstje "{{collection.name}}"
</h2>
<h7>
    {{collection.description or ''}}
</h7>
{% if collection.url %}<small><a href="{{collection.url}}">{{collection.url}}</a></small>{% endif %}

<div class="w3-container">
    <div class="w3-small w3-left">
        <button class="w3-round w3-button w3-hover-yellow w3-small" title="Toon formulier voor nieuw item" onClick="document.getElementById('newItemForm').classList.toggle('w3-hide');">
            <i class="fa fa-plus"></i>
        </button>
        <button class="w3-round w3-button w3-hover-yellow w3-small" title="Toon knoppen om items te verwijderen" onClick="[].forEach.call(document.getElementsByClassName('delete-item'), (el) => el.classList.toggle('w3-hide'))">
            <i class="fa fa-trash"></i>
        </button>
        <button class="w3-round w3-button w3-hover-yellow w3-small" title="Toon extra gegevens"
            onclick="document.getElementById('statsmodal').style.display='block'"
        >
            <i class="fa fa-bar-chart"></i>
        </button>
    </div>
    <div class="w3-small w3-right">
        {% include 'partials/is_public.html' %}
        <button class="w3-round w3-button w3-hover-red w3-small" hx-delete="/collection/{{collection.id}}" hx-confirm="Complete lijst verwijderen?" hx-target="body" hx-swap="swap:1s" title="Complete lijst verwijderen">
            <i class="fa fa-times-circle"></i>
        </button>
    </div>
</div>

<form id="newItemForm" hx-post="/item/new" hx-target="#collection_table_body" hx-swap="afterbegin" class="w3-container w3-hide" onsubmit="resetForm()">
    <input type="hidden" name="collection_id" value="{{collection.id}}">
    <input class="w3-round w3-input w3-theme-d2" type="text" name="name" placeholder="Nieuw item" required>
    <input class="w3-round w3-input w3-theme-dark" type="submit" value="Toevoegen">
</form>

 <input type="search" id="searchInput" onkeyup="searchTable('collectionTable')" onsearch="searchTable('collectionTable')" placeholder="zoeken" class="w3-input w3-theme-d2 w3-round w3-margin-top" autofocus>
<table id="collectionTable" class="w3-table w3-hoverable">
    <thead>
    <tr>
    <!-- TODO sequence. flipt de layout -->
<!--        <th>Sequence<th> -->
        <th>Naam</th>
        <th>Heb ik al</th>
        <th>Wil ik graag</th>
        <th>Gelezen</th>
        <!-- TODO rating -->
        <!-- TODO uitgavejaar -->
        <th class="w3-hide delete-item">Verwijder</th>
    </tr>
    </thead>
    <tbody id="collection_table_body" >
        {% for item in collection.items %}
            {% include 'partials/item_tr.html' %}
        {% endfor %}
</table>
<a href="#top" class="w3-margin-top">
    <i class="fa fa-arrow-up"></i> Naar boven
</a>

{% include 'partials/statsmodal.html' %}
{% endblock body %}