{% extends "base.html" %}
{% block body %}
<a class="w3-btn" href="/public">
    <i class="fas fa-arrow-left"></i>Terug
</a>
<h2>Lijstje "{{collection.name}}" van {{collection.user.email}}</h2>
<span class="htmx-indicator">EVEN GEDULD AUB</span>
<table id="collection_table">
    <thead>
    <tr>
    <!-- TODO sequence flipt de layout -->
<!--        <th>Sequence<th> -->
        <th>Naam</th>
        <th>Heb ik</th>
        <th>Wil ik</th>
        <th>Gelezen</th>
        <!-- TODO rating column Rating -->
        <!-- TODO uitgavejaar -->
    </tr>
    </thead>
    <tbody id="collection_table_body" >
        {% for item in items %}
            {% include 'item_tr.html' %}
        {% endfor %}
</table>
{% endblock body %}
